$snackbar-wrapper-min-width: 0

$border-radius-root: 10px
$primary: #7BA3A2
$secondary: #EE605E
.v-btn--absolute.v-btn--bottom, .v-btn--fixed.v-btn--bottom
  bottom: 70px
.v-item-group.v-bottom-navigation .v-btn
  height: inherit !important
  background-color: transparent !important
  min-width: 80px !important
