$snackbar-wrapper-min-width: 0

$border-radius-root: 10px
$primary: #7BA3A2
$secondary: #EE605E

$primary-5: rgba(123, 163, 162, 0.5)
.primary-5
  background-color: $primary-5 !important

$primary-8: rgba(123, 163, 162, 0.8)
.primary-8
  background-color: $primary-8 !important

.v-btn--absolute.v-btn--bottom, .v-btn--fixed.v-btn--bottom
  bottom: 70px
.v-item-group.v-bottom-navigation .v-btn
  height: inherit !important
  background-color: transparent !important
  min-width: 80px !important
